.contact {
    transition: all .3s ease;

    &:hover {
        color: #000;
        background: #DB8876;
    }
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #C4C4C466;
    z-index: 2;

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 670px;
        padding: 35px;
        border-radius: 5px;
        background: #DB8876;
        box-shadow: -5px 10px 30px 0px #00000040;
        
        .header {
            display: flex;
            justify-content: space-between;
            width: 100%;

            h1 {
                font-size: 4rem;
            }

            svg {
                width: 42px;
                height: 42px;
                color: white;
                cursor: pointer;
            }
        }

        .fields {
            
            .field {
                display: flex;
                flex-direction: column;

                * {
                    color: #312E2E;
                }

                label {
                    font-size: 2.25rem;
                    padding-block: 0.5rem;
                }

                input, textarea {
                    border: 1px solid transparent;
                    border-radius: 5px;
                    outline: none;
                    font-size: 1.5rem;
                    padding: 1rem;

                    &:active {
                        border: 1px solid #312E2E;
                        outline: none;
                    }
                }
            }
        }

        button {
            font-size: 1.125rem;
        }
    }
}