.gallery {
    padding-block: 100px;

    .filter {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-block: 2rem;

        span {
            font-size: 1.125rem;
            font-weight: 700;
        }
    }

    .medias {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 95px;
        row-gap: 50px;

        .media {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 350px;

            img, video {
                display: block;
                width: 350px;
                height: 350px;
                object-fit: cover;
                border-radius: 5px;
                cursor: pointer;
            }

            .details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: .5rem;
            
                h2 {
                    font-size: 1.5rem;
                    color: #901C1C;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                span {
                    display: flex;
                    align-items: center;
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: #901C1C;
                    white-space: nowrap;
                    cursor: pointer;

                    svg {
                        height: 1.25rem;
                    }
                }
            }
        }
    }
    
    .price {
        position: fixed;
        display: flex;
        gap: 4rem;
        align-items: center;
        bottom: 0;
        right: 3rem;
        padding: 1.25rem;
        border-radius: 5px 5px 0 0;
        background: #DB8876;

        span {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 500;

            svg {
                height: 1.25rem;
            }
        }
    }
}