.photographerThumbnail {
  flex: 0 0 calc(33.333% - 20px);
  min-width: 300px; 
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.photographerLink {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 20px;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photographerInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.photographerName {
  font-size: 36px;
  font-family: Dm Sans, sans-serif;
  font-weight: 400;
  color: #D3573C;
  
}

.photographerLocation {
  font-size: 13px;
  font-family: Dm Sans, sans-serif;
  font-weight: 400;
  color: #D3573C;
}

.photographerQuote {
  font-size: 10px;
  font-family: Dm Sans, sans-serif;
  font-weight: 400;
  color: #000000
}

.photographerPrice {
  font-size: 9px;
  font-family: Dm Sans, sans-serif;
  font-weight: 400;
  color: #757575;
}