.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 40px;

    a img {
        width: 200px;
    }
    
    h1 {
        color: #901C1C;
        font-size: 2.25rem;
        font-weight: 400;
    }
}