* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-weight: 400;
    font-family: DM Sans, sans-serif;
}

main {
    max-width: 1440px;
    margin-inline: auto;

    header, section {
        max-width: 1440px;
        margin-inline: 100px;
    }
}

a {
    text-decoration: none;
}

button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    width: fit-content;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: DM Sans, sans-serif;
    color: #fff;
    background: #901C1C;
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}