* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-weight: 400;
    font-family: DM Sans, sans-serif;
}

main {
    max-width: 1440px;
    margin-inline: auto;

    header, section {
        max-width: 1440px;
        margin-inline: 100px;
    }
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}